<!DOCTYPE HTML>
<html>

<head>
	<title>Metatagger</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/static/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="/static/css/noscript.css" />
	</noscript>
</head>

<body class="is-preload">
	<!-- Sidebar -->
	<section id="sidebar">
		<div class="inner">
			<nav>
				<ul>
					<li><a href="/" class="scrolly active active-locked">Welcome</a></li>
					<li><a href="/pages/query">See In Action</a></li>
					<li><a href="/pages/referancedata">Check Referance Data</a></li>
				</ul>
			</nav>
		</div>
	</section>
	<!-- Wrapper -->
	<div id="wrapper">
		<!-- Intro -->
		<section id="intro" class="wrapper style1 fullscreen fade-up">
			<div class="inner">
				<h1>Meta Tagger</h1>
				<p>click here to see the documentation <a href="https://github.com/ripsita/MetaDataSeachAndTag"
						target="_blank">Github Link</a>.</p>
				<ul class="actions">
					<!--li><a href="https://github.com/ripsita/MetaDataSeachAndTag" class="button scrolly">Learn more</a>
					</li-->
				</ul>
			</div>
		</section>
	</div>
	<!-- Scripts -->
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/jquery.scrollex.min.js"></script>
	<script src="/static/js/jquery.scrolly.min.js"></script>
	<script src="/static/js/browser.min.js"></script>
	<script src="/static/js/breakpoints.min.js"></script>
	<script src="/static/js/util.js"></script>
	<script src="/static/js/main.js"></script>
</body>

</html>